export(apples)
export(betta)
export(betta_random)
export(betta_pic)
export(breakaway_nof1)
export(breakaway)
export(chao1)
export(chao1_bc)
export(chao_bunge)
export(hawaii)
export(wlrm_transformed)
export(wlrm_untransformed)
importFrom("graphics", "axis", "legend", "lines", "par", "plot", "points")
importFrom("stats", "coef", "fitted", "lm", "nls", "optim", "pchisq", "pnorm", "predict", "var", "vcov")
importFrom("utils", "read.table")
